*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
}

:root{
  --primary-color: #0065FC;
  --secondary-color: #DEEBFF;
  --background-color: #F2F2F2;
  --radius: 15px;
}

html{
  scroll-behavior: smooth;
}

nav,main{
  padding: 0 50px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
}

nav .logo img{
  height:40px;
  width:80px;
}

nav .links{
  display: flex;
  gap: 15px;
  height: 100%;
}

nav .links a{
  display: inline-block;
  height: 100%;
  color: black;
  text-decoration: none;
  font-weight: 500;
}

nav .links a:first-of-type{
  color: var(--primary-color);
  border-top: 3px solid var(--primary-color);
}

.welcome-msg p{
  font-size: large;
  font-weight: bold;
  margin-bottom: 5px;
}

.search-bar{
  display: inline-flex;
  height: 50px;
  width: 400px;
  margin-top: 12px;
  border: 1px solid var(--background-color);
  border-radius: var(--radius);
}

.search-bar__fa-container{
  display: flex;
  justify-content: center;
  width: 80px;
  height: 100%;
  background-color: var(--background-color);
  border-radius: var(--radius) 0 0 var(--radius);
}

.search-bar i{
  font-size: large;
  align-self: center;
  color: black;
}

.search-bar input{
  all: unset;
  font-size: large;
  padding-left: 10px;
  font-weight: bold;
}

.search-bar button{
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border-width: 0;
  border-radius: 0 var(--radius) var(--radius) 0;
  padding: 0 20px;
  font-size: large;
  cursor: pointer;
}

.filter-bar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  font-size: large;
  font-weight: bold;
  margin: 30px 0;
}

.filter{
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--background-color);
  padding-right: 14px;
  border-radius: 40px;
  cursor: pointer;
}

.filter__fa-container{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50px;
  transition: 700ms;
}

.filter:hover .filter__fa-container{
  rotate: 360deg;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.filter:hover .filter__fa-container i{
  color: var(--secondary-color);
}

.info__fa-container{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 2px solid var(--background-color);
  color: var(--primary-color);
  margin-bottom: 30px;
}

/* footer */

footer{
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 50px;
  height: 200px;
}

footer div:last-of-type{
  width: 33%;
}

footer div a{
  display: block;
  text-decoration: none;
  color: black;
  margin: 10px 0;
}

.fa-solid{
  color: var(--primary-color);
}

.fa-gray{
  color: var(--background-color);
}

a.card1{
  display: block !important;
}

a.card2,a.card3,a.card4{
  text-decoration: none;
  color: black;
}

.hebergement{
  display: flex;
  gap: 40px;
}

.hebergement__normal,.hebergement__popular{
  background-color: var(--background-color);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 60px;
}

.hebergement__normal a{
  display: inline-flex;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: black;
  margin: 8px 0;
}

.hebergement__normal__card_container{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.hebergement__popular__card_container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hebergement__popular__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hebergement__popular__header .fa-star{
  color: black;
  font-size: large;
}

.hebergement__normal h2{
  margin-bottom: 20px;
}

.card1{
  width: 240px;
  height: 220px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(173, 173, 173);
  background-color: white;
}

.card1 img{
  width: 100%;
  height: 60%;
  border-radius: 20px 20px 0 0;
}

.card1 p{
  margin: 10px 0;
}

.card2{
  display: flex;
  gap: 8px;
  width: 300px;
  height: 130px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(173, 173, 173);
  background-color: white;
}

.card2 > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activites__card_container,.activites__card_container__card4_container{
  display: flex;
  justify-content: space-between;
}
.activites__card_container{
  margin: 30px 0 60px 0;
}

.activites__card_container__card4_container{
  flex-direction: column;
  /* background-color: red; */
}
.activites__card_container p{
  padding: 15px;
}

.card2 img{
  width: 40%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.card3{
  width: 300px;
  height: 400px;
}

.card4{
  width: 300px;
  height: 190px;
}

.card3 img,.card4 img{
  width: 100%;
  height: 85%;
  border-radius: 20px 20px 0 0;
}

.card4 img{
  height: 75%;
}

.card3,.card4{
  border-radius: 20px;
  border: 1px solid var(--background-color);
  box-shadow: 0 0 10px rgb(173, 173, 173);
}

@media screen and (max-width:768px) {
  .activites__card_container{
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .activites__card_container__card4_container{
    gap: 40px;
  }
}

@media screen and (max-width:767px) {
  nav,main{
    padding: 0 5px;
  }
  nav{
    flex-direction: column;
    align-items: center;
  }

  .hebergement{
    flex-direction: column-reverse;
  }

  .search-bar{
    width: 100%;
  }

  
  .search-bar input{
    font-size: small;
  }
  
  .search-bar button{
    font-size: small;
  }

  .welcome-msg{
    text-align: center;
    padding: 10px 0;
  }

  .filter-bar{
    flex-direction: column;
    align-items: flex-start;
  }

  .hebergement__normal,.hebergement__popular{
    padding: 5px;
    /* background-color: white; */
  }

  .card1{
    width: 100%;
  }

  footer{
    flex-direction: column;
    gap: 40px;
    height: auto;
  }
}